@keyframes rotateCenter {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes rotateCenterReverse {
  from {
    transform: rotate(90deg);
    transform-origin: center;
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

