@keyframes rotateCenter {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes rotateCenterReverse {
  from {
    transform: rotate(90deg);
    transform-origin: center;
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150px);
  }
}

@keyframes slideAndRotateLeft {
  0% {
    transform: translateX(0);
  }
  1% {
    transform: translateX(-1px) rotate(0deg);
  }
  100% {
    transform: translateX(-150px) rotate(-90deg);
  }
}

@keyframes slideAndRotateRight {
  0% {
    transform: translateX(0);
  }
  1% {
    transform: translateX(1px) rotate(0deg);
  }
  100% {
    transform: translateX(150px) rotate(90deg);
  }
}
